input {
  background-color: white;
  font-size: 25px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  color: black;
}

.post-box {
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  width: 33%;
}

.form-add {
  display: flex;
  flex-direction: column;
}
