.box-another-img {
  /* border: 1px solid black; */
  padding: 2px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.gallery-div {
  display: flex;
  overflow-wrap: break-word;
  word-break: break-all;
}

.upload-container {
  display: flex;
  flex-direction: column;
}

.gallery-item {
  align-self: flex-start;
  display: flex;
  margin: 10px;
  flex-direction: row-reverse;
}

.button-custom {
  all: unset;
  font-size: 20px;
}
