.space {
  margin-right: 10px;
}

.container-plant {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  background-color: var(--color-yellow);
  color: black;
  border-radius: 20px;
  padding: 50px;
}

.img-plant {
  padding: 30px;
  border-radius: 20px;
}

.plant-shortinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plant-emojis {
  font-size: 30px;
  padding-top: 15px;
  padding-left: 30px;
}

.snowflake {
  margin-bottom: 5px;
}

.plant-id {
  font-style: italic;
  font-size: 12px;
  color: rgb(135, 135, 135);
  margin-top: -15px;
  margin-left: -10px;
}

.perennial-icon {
  margin-bottom: 5px;
}

.plant-details {
  min-width: 500px;
}
